<!-- ngClass permet de conditionner le style-->
<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareilStatus === 'allumé',
    'list-group-item-danger': appareilStatus === 'éteint'
  }"
>


  <!-- ngIf permet de conditionner via une methode-->
  <!-- <div
    *ngIf="appareilStatus === 'éteint'"
    style="background-color: red; width: 20px; height: 20px"
  ></div> -->


  <!-- ngStyle permet lier une propriete de style en passant un objet appelant une methode-->  
  <h4 [ngStyle]="{ color: getColor() }">
  <!-- les {{}} permettent d'appeler des propriétés ou des fonctions-->  
    Appareil:{{ appareilName }} -- Status: {{ getStatus() }}
  </h4>
  <!-- <input type="text"class="form-control"placeholder=""name=""id=""[(ngModel)]="appareilName"/> -->

  <!-- ici la methode du composant appelle la methode du service-->  
  <button class="btn btn-success" 
          (click)="onSwitchOn()"
          [disabled]="appareilStatus==='allumé'"            
    >Allumer
  </button>
  <button class="btn btn-danger" 
          (click)="onSwitchOff()"
          [disabled]="appareilStatus==='éteint'"  
  >Eteindre</button>
</li>
